/* site-wide */
body {
    background-image: url('../images/geometry/geometry.png');
}

.site-header {
    margin-bottom: 100px;
    margin-top: 50px;
}

.site-header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #00b386;
}

ul {
    font-size: 22px;
    margin-top: 15px;
}

a {
    color: #666666;
}

a:hover {
    color: #0c9;
}

.list-inline > li > a {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.about {
    margin-right: 40px;
}

.active {
    text-decoration: underline;
}

p {
    font-family: 'Istok Web', sans-serif;
}

footer {
    margin-top: 200px;
    margin-bottom: 50px;
}

p.copyright {
    padding-left: 50px;
}

/* Contact links in the footer*/
.contact-links {
    margin-left: 45.5%;
    margin-bottom: 15px;
}


/* About/ Home page */
#about-section p {
    font-size: 18px;
    line-height: 1.5;
}

.img-circle {
    float: left;
    margin-right: 2em;
    -webkit-shape-outside: circle();
    -moz-shape-outside: circle();
    shape-oustide: circle();
    -webkit-clip-path: circle();
    -moz-clip-path: circle();
}

/* Work page */
.work-sample {
    padding: 0;
    border: 1px solid #000;
    /*height: auto;*/
    height: 272px;
    background-color: rgba(242, 242, 242, 0.7);
    margin-bottom: 100px;
}

.work-sample a {
    color: #00b386;
}

.work-info {
    margin-top: 20px;
    font-size: 14px;
    padding: 20px;
}

.project-img {
    width: 100%;
    height: 100%;
}

/*** Media Queries ***/

/* iPhone retina */
@media only screen and (min-width: 320px){
    .work-sample {
        height: 195px;
    }
    .work-info {
        margin-top: 0;
        padding: 10px;
    }
}

/* iPhone 5 portrait */
@media only screen and (min-width: 320px){
    .work-sample {
        height: 195px;
    }
    .work-info {
        margin-top: 0;
        padding: 10px;
    }
    .contact-links {
        margin-left: 25%;
    }
    p.copyright {
        padding-left: 20px;
    }
}

/* iPhone 6 portrait */
@media only screen and (min-width: 375px){
    p.copyright {
        padding-left: 0px;
    }
}

/* small devices, tablets */
@media only screen and (min-width: 768px){
    .work-sample {
        height: 250px;
    }
    .contact-links {
        margin-left: 35.5%;
    }
    p.copyright {
        padding-right: 70px;
    }
}

/* medium devices, desktops */
@media only screen and (min-width: 992px){
    .work-sample {
        height: 272px;
    }
    .contact-links {
        margin-left: 39%;
    }
    p.copyright {
        padding-right: 140px;
    }
}

/* large devices, wide screens */
@media only screen and (min-width: 1200px){
    .work-sample{
        height: 272px;
    }

}
