/* site-wide */
body {
    background-image: url('../images/geometry/geometry.png');
}

.site-header {
    margin-bottom: 100px;
    margin-top: 50px;
}

.site-header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #00b386;
}

ul {
    font-size: 22px;
    margin-top: 15px;
}

a {
    color: #666666;
}

a:hover {
    color: #0c9;
}

.list-inline > li > a {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.about {
    margin-right: 40px;
}

.active {
    text-decoration: underline;
}

p {
    font-family: 'Istok Web', sans-serif;
}

footer {
    margin-top: 200px;
    margin-bottom: 30px;
}

/* Contact links in the footer*/
.contact-links {
    margin-left: 45.5%;
    margin-bottom: 15px;
}


/* About/ Home page */
#about-section p {
    font-size: 18px;
    line-height: 1.5;
}

.img-circle {
    float: left;
    margin-right: 2em;
    -webkit-shape-outside: circle();
    -moz-shape-outside: circle();
    shape-oustide: circle();
    -webkit-clip-path: circle();
    -moz-clip-path: circle();
}

/* Work page */
.work-samples {
    margin-bottom: 100px;
}

.work-sample {
    padding: 0;
    border: 1px solid #000;
    width: 502px;
    height: 272px;
    background-color: rgba(242, 242, 242, 0.7)
}

.work-sample a {
    color: #00b386;
}

.work-info {
    margin-top: 20px;
    font-size: 16px;
    padding: 20px;
    /*background-color: yellow;*/
}
